
#login .container #login-row #login-column #login-box {
  margin-top: 70px;
  max-width: 600px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  border-radius: 10px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
}
#register-link{
    margin-top: -40px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
label{
  color: black;
}